$color-cream: #f1e8dc;
$color-brown: #4a3628;
$color-light-orange: #d9b789;
$color-rosmary: #b2b49c;
$color-orange: #966f35;
$color-sage: #8a8653;
$color-pale-orange: #d9b789;
$color-cta: #d9892a;

$color-cream-hover: #e6ddcf;
$color-brown-hover: #3d2d22;
$color-light-orange-hover: #c9a46e;
$color-rosmary-hover: #a0a28a;
$color-orange-hover: #7d5c2b;
$color-sage-hover: #787346;
$color-pale-orange-hover: #c9a46e;
$color-cta-hover: #c87f24;

$text-primary-dark: #5e431d;
$text-alt-dark: $color-orange;

$text-primary-light: #fdf3dd;
$text-alt-light: $color-rosmary;
