@use '../abstract/vars' as *;

body {
  background-color: $color-cream;
}

.bg-rosemary {
  background-color: $color-rosmary;
  color: $text-primary-dark;

  &.bg-hover:hover {
    background-color: $color-rosmary-hover;
  }
}

.bg-light-orange {
  background-color: $color-light-orange;
  color: $text-primary-dark;
  &.bg-hover:hover {
    background-color: $color-light-orange-hover;
  }
}

.bg-sage {
  background-color: $color-sage;
  color: $text-primary-light;
  &.bg-hover:hover {
    background-color: $color-sage-hover;
  }
}

.bg-brown {
  background-color: $color-brown;
  color: $text-primary-light;
  &.bg-hover:hover {
    background-color: $color-brown-hover;
  }
}

.bg-cream {
  background-color: $color-cream;
  color: $text-primary-dark;
  &.bg-hover:hover {
    background-color: $color-cream-hover;
  }
}

.bg-orange {
  background-color: $color-orange;
  color: $text-primary-light;
  &.bg-hover:hover {
    background-color: $color-orange-hover;
  }
}

.bg-cta {
  background-color: $color-cta;
  color: #fff;
  &.bg-hover:hover {
    background-color: $color-cta-hover;
  }
}

:root {
  --color-cream: #f1e8dc;
  --color-brown: #4a3628;
  --color-light-orange: #d9b789;
  --color-rosmary: #b2b49c;
  --color-orange: #966f35;
  --color-sage: #8a8653;
  --color-pale-orange: #d9b789;
  --color-cta: #d9892a;

  --color-cream-hover: #e6ddcf;
  --color-brown-hover: #3d2d22;
  --color-light-orange-hover: #c9a46e;
  --color-rosmary-hover: #a0a28a;
  --color-orange-hover: #7d5c2b;
  --color-sage-hover: #787346;
  --color-pale-orange-hover: #c9a46e;
  --color-cta-hover: #c87f24;

  --text-primary-dark: #5e431d;
  --text-alt-dark: var(--color-orange);

  --text-primary-light: #fdf3dd;
  --text-alt-light: var(--color-rosmary);
}
